<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create User Directory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
      <nav>
        <ul id="menu">  
          <li><a class="menu-item" href="/">All Robots</a></li>
          <li><a class="menu-item" href="employed">Employed</a></li>
          <li><a class="menu-item" href="unemployed">Looking for Work</a></li>
        </ul>
      </nav>
      <div id="wrapper">
        {{#robots}}
            <div class="user">
              <a href="/{{_id}}">
                <img class="img" src="{{avatar}}">
                <p class="name">{{name}}</p>
                {{#job}}
                  <p class="job">{{job}}, {{company}}</p>
                {{/job}}
                {{^job}}
                  <p class="forhire">Available for hire<p>
                {{/job}}
              </a>
            </div>
        {{/robots}}
      </div>
  </body>
</html>